# Server: Insert the Port you wanna use (8888 or 80808) as long as the port is not using by other services
PORT=

# Database: Insert your postgres settings like Host, Port, Username, Password, Name of Database, Your SSL mode settings
PGHOST=
PGPORT=
PGUSER=
PGPASSWORD=
PGDATABASE=
PGSSLMODE=

# Redis: Insert your Redis settings and make insert it by link 
REDIS_URL=

# App Secret: Insert with random word that generate using MD5
APP_SECRET=

# CORS: Insert using the domain that frontend are located
FRONTEND_URL=